.boxmodel{
  background-color: aqua;
  height: 400px;
  width: 600px;
  padding: 70px;
  border: 10px solid rebeccapurple;
  margin: 100px;
}
.block-test{
  display: grid;
  grid-template-columns: 6fr 4fr;
  text-align: justify;
  margin: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.block-test button{
  display: inline-block;
  height: 60px;
  width: 90px;
  padding: 30px;
  margin: 60px;
  
}